{% extends "base.html" %}

{% block main_header %}
  <h2>
    Musical Show Details

    <button data-url="{{ url_for('rentable_delete', id=obj.id) }}"
            class="btn btn-danger float-right" id="delete_button">
          Delete
    </button>

    <a class="btn btn-light float-right" href="{{ url_for('home') }}" role="button">Home</a>
  </h2>
{% endblock %}

{% block main_content %}
  <ul class="list-group">
    <!-- Rentable fields -->

    <li class="list-group-item">
      <p class="float-left"><b>Title</b></p>
      <p class="float-right">{{obj.title}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Description</b></p>
      <p class="float-right">{{obj.description}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Language</b></p>
      <p class="float-right">{{obj.language}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Age Restriction</b></p>
      <p class="float-right"> >= {{obj.age_restriction}} years old</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Rent Price</b></p>
      <p class="float-right"> ${{"%0.2f"|format(obj.rent_price)}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Poster Image</b></p>
      <p class="float-right">
        <img src="{{ obj.poster_image }}" class="rounded float-left" width="48" height="70">
      </p>
    </li>

    <!-- FeatureFilm fields -->

    <li class="list-group-item">
      <p class="float-left"><b>Duration (minutes)</b></p>
      <p class="float-right">{{obj.duration_minutes}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Publisher</b></p>
      <p class="float-right">{{obj.publisher}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Producer</b></p>
      <p class="float-right">{{obj.producer}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Release (Year)</b></p>
      <p class="float-right">{{obj.release_year}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Genre</b></p>
      <p class="float-right">{{obj.genre}}</p>
    </li>

    <!-- MusicalShow fields -->

    <li class="list-group-item">
      <p class="float-left"><b>Artist</b></p>
      <p class="float-right">{{obj.artist}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Venue</b></p>
      <p class="float-right">{{obj.venue}}</p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Live?</b></p>
      <p class="float-right">
        {% if obj.live %}
          Yes
        {% else %}
          No
        {% endif %}
      </p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Acoustic?</b></p>
      <p class="float-right">
        {% if obj.acoustic %}
          Yes
        {% else %}
          No
        {% endif %}
      </p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Grammy Nominee?</b></p>
      <p class="float-right">
        {% if obj.grammy_nominee %}
          Yes
        {% else %}
          No
        {% endif %}
      </p>
    </li>

    <li class="list-group-item">
      <p class="float-left"><b>Grammy Winner?</b></p>
      <p class="float-right">
        {% if obj.grammy_winner %}
          Yes
        {% else %}
          No
        {% endif %}
      </p>
    </li>
  </ul>
{% endblock %}