{% extends "base.html" %}

{% block main_header %}
  <h2>
  	Video Games
  	<a class="btn btn-light float-right" href="{{ url_for('home') }}" role="button">Home</a>
    <form class="form-inline" id="search_form" action="{{ url_for('video_game_list') }}">
      <input type="text" name="query" class="form-control" />
      <button id="search_button" class="btn btn-primary">Search</button>
    </form>
  </h2>
{% endblock %}

{% block main_content %}
  <div class="list-group">
    {% for game in objects %}
      <a href="{{ url_for('video_game_details', id=game.id) }}" class="list-group-item list-group-item-action">
        <img src="{{ game.poster_image }}" class="rounded float-left" width="120" height="175">
        <p class="float-right"> {{ game.title }} </p>
      </a>

      <a href="{{ url_for('video_game_create') }}" class="list-group-item list-group-item-action">
        <b><i>Create New +</i></b>
      </a>
    {% endfor %}
  </div>
{% endblock %}