{% extends "base.html" %}

{% block main_header %}
  <h2>
  	Clients
  	<a class="btn btn-light float-right" href="{{ url_for('home') }}" role="button">Home</a>
    <form class="form-inline" id="search_form" action="{{ url_for('client_list') }}">
      <input type="text" name="query" class="form-control" />
      <button id="search_button" class="btn btn-primary">Search</button>
    </form>
  </h2>
{% endblock %}

{% block main_content %}
	<div class="list-group">
		{% for client in objects %}
	    	<a href="{{ url_for('client_details', id=client.id) }}" class="list-group-item list-group-item-action">
	    		{{ client.name }}
	    	</a>
	    {% endfor %}
    </div>
{% endblock %}