{% extends "base.html" %}

{% block main_header %}
  <h2>
  	Animated Series
  	<a class="btn btn-light float-right" href="{{ url_for('home') }}" role="button">Home</a>
  </h2>
{% endblock %}

{% block main_content %}
  <div class="list-group">
    {% for series in objects %}
      <a href="{{ url_for('animated_series_details', id=series.id) }}" class="list-group-item list-group-item-action">
        <img src="{{ series.poster_image }}" class="rounded float-left" width="120" height="175">
        <p class="float-right"> {{ series.title }} </p>
      </a>
    {% endfor %}
  </div>
{% endblock %}