{% extends "base.html" %}

{% block main_header %}
  <h2>
  	Rentals
  	<a class="btn btn-light float-right" href="{{ url_for('home') }}" role="button">Home</a>
    <form class="form-inline" id="search_form" action="{{ url_for('rental_event_list') }}">
      <input type="text" name="query" class="form-control" />
      <button id="search_button" class="btn btn-primary">Search</button>
    </form>
  </h2>
{% endblock %}

{% block main_content %}
  <div class="list-group">
    {% for rental in objects %}
      <a href="{{ url_for('rental_event_details', id=rental.id) }}" class="list-group-item list-group-item-action">
        {{ rental.client.name }},
        {{ rental.rented_at.strftime('%d/%m/%y %H:%M') }} to
        {{ rental.ends_at.strftime('%d/%m/%y %H:%M') }},
        {{ rental.rentables|length }} items
      </a>

      <a href="{{ url_for('rental_event_create') }}" class="list-group-item list-group-item-action">
        <b><i>Create New +</i></b>
      </a>
    {% endfor %}
  </div>
{% endblock %}